/*
 * Declare in this file all the Fonts for the website.
 */

@font-face {
	font-family: 'Bebas Neue';
	src: url('fonts/BebasNeueRegular.eot');
	src: url('fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
	url('fonts/BebasNeueRegular.woff2') format('woff2'),
	url('fonts/BebasNeueRegular.woff') format('woff'),
	url('fonts/BebasNeueRegular.ttf') format('truetype'),
	url('fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('fonts/BebasNeueBold.eot');
	src: url('fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
	url('fonts/BebasNeueBold.woff2') format('woff2'),
	url('fonts/BebasNeueBold.woff') format('woff'),
	url('fonts/BebasNeueBold.ttf') format('truetype'),
	url('fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('fonts/BebasNeueLight.eot');
	src: url('fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
	url('fonts/BebasNeueLight.woff2') format('woff2'),
	url('fonts/BebasNeueLight.woff') format('woff'),
	url('fonts/BebasNeueLight.ttf') format('truetype'),
	url('fonts/BebasNeueLight.svg#BebasNeueLight') format('svg');
	font-weight: 300;
	font-style: normal;
}
