/*
 * Default SASS Variables used throughout the theme.
 * It is expected that these would be overwritten in child themes. Included in base theme as a reference / starting point.
 *
 * Table of contents.
 * ------------------
 *
 * 1. Typography.
 * 2. Colours.
 * 3. Gutters.
 * 4. Implementation of Colours.
 * 5. Misecellaneous Global Settings.
 *
 * ------------------
 */

/*
 * 1. Typography.
 * ------------------
 */

$font-stack-sans-serif: 'Bebas Neue', Tahoma, sans-serif;
$base-em: 16px; // used specifically in the em function.
$base-font-size: 1rem;
$letter-spacing: em(1);

/*
 * 2. Colour Variables.
 * ------------------
 */

/*
 * Naming of colors is taken from Sip (a free color picker mac app: https://sipapp.io/ - free trial has no time limit).
 * This is purely so there is a common system for naming colors i.e. not $grey-dark, $grey-darker, $grey-even-darker.
 */

// Generic colors.
$white: #FFFFFF;
$black: #000000;

// Shades of grey ordered darkest to lightest.

// Theme Colours.
$olive-drab: #729132;
$tangerine: #F29100;
$floral-white: #FFFBEF;
$dim-gray: #6B6B6B;
$nero: #202020;
$cerulean: #0184B3;
$pattens-blue: #D8F1FA;

// Gradients.


/*
 * 3. Gutters.
 * ------------------
 * This is the base for all grid spacing. All spacing is a sum of this i.e.
 * Each grid item is $gutter / 2 so that when next to each they form the correct spacing.
 * Technique for this outlined here: https://alistapart.com/article/learning-from-lego-a-step-forward-in-modular-web-design
 */
$gutter: em(30);
$item-gutter: $gutter / 2; // Used on all grid layouts so that total spacing between items is correct.


// Websites Max Widths.
$max-width-mobile: 100%;
$max-width-wrapper: 1920px; // Applied to .site-wrapper. Also need to match breakpoints in _mq.scss.
$max-width-container: 1200px; // Applied to .container & .grid-container. Also need to match breakpoints in _mq.scss.
$max-width-narrow-container: 850px; // Applied to .post-content on editorial pages to get different widths of content.
$min-width-table-mobile: 600px; // Tables in mobile have scroll-x.

/*
 * 4. Implementation of Colours.
 * ------------------
 * Used specifically to make sure some base theme colors can be changed easily on later sites.
 */

// Global colors.
$body-background-color: $white;
$container-background-color: $white;

// Typography colors.
$font-color-default: $black;
$font-color-inverted: $white;

/*
 * 5. Miscellaneous Global Settings.
 * ------------------
 */

$grid-columns-desktop: 12;
$grid-columns-mobile: 6;

$transition-duration: 0.4s;
