/**
 * Styles for Intro Block.
 */
.brs-intro {
	justify-content: center;
	background-position: right center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;

	&:before {
		background-color: rgba(0,0,0,0.4);
		content: "";
		height: 100%;
		position: absolute;
		top:0;
		left:0;
		width: 100%;
	}

	@include mq( $from: tablet ) {
		background-position: center center;
		height: auto;
		min-height: 647px;
	}

	.custom-logo-link {
		display: none;

		@include mq( $from: tablet ) {
			display: block;
		}

		.custom-logo {
			@include mq( $from: tablet ) {
				display: inline-block;
				height: 60px;
				width: auto;
			}
		}
	}

	&__h {
		color: $white;
		font-weight: bold;
		font-size: em(50, 16);
		margin-left: auto;
		margin-right: auto;
		max-width: 54%;
		text-transform: uppercase;
		position: relative;
		z-index: 1;
	}

	&__b {
		color: $white;
		font-size: em(30);
		font-weight: 100;
		position: relative;
	}


	.brs-button {
		bottom: 10vh;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
		position: absolute;
		width: 60%;

		@include mq( $from: tablet ) {
			margin-top: em(31, 16);
			position: relative;
			bottom: auto;
			left: auto;
			right: auto;
			padding-left: em(85, 16);
			padding-right: em(85, 16);
			width: auto;
		}
	}
}
