.site-footer {
	background-color: $nero;
	border-bottom: em(41) solid $black;
	padding-bottom: em(40);
	padding-top: em(60);

	@include mq( $from: desktop ) {
		padding-bottom: em(50);
		padding-top: em(24);
	}

	&__header {
		border-bottom: 1px solid $olive-drab;
		margin-bottom: em(40);
		padding-bottom: em(41);
		text-align: center;
	}

	&__sections {
		list-style-type: none;

		@include mq( $from: desktop ) {
			display: flex;
			justify-content: space-between;
		}
	}
	&__section {
		color: $white;
		font-size: em(28);
		font-weight: 300;
		padding-bottom: em(40, 28);

		.brs-section-title {
			font-size: em(30, 28);
			margin-bottom: em(25, 30);
		}

		a {
			color: $white;
			text-decoration: none;
		}

		.mg-social-links {
			justify-content: flex-start;
			font-size: 16px;
		}

	}

	.site-info {
		color: $white;
		a {
			color: $tangerine;
		}
	}
}
