/**
 * Styles for the Site Header Organism.
 */
.site-header {
	height: 100vh;
	padding-bottom: em(19);
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 3;

	@include mq( $from: tablet ) {
		display: block;
		height: auto;
		padding-top: em(43);
	}

	.site-header__wrapper {
		align-items: flex-start;
		display: flex;
		position: relative;

		@include mq( $from: desktop ) {
			@include container;
			right: 0;
			left: 0;
		}
	}

	.site-title {
		display: none;
	}

	.mg-social-links {
		bottom: em(66, 16);
		position: absolute;

		@include mq ( $from: tablet ) {
			bottom: 5%;
			position: absolute;
		}

	}

	.navigation {
		text-align: center;

		@include mq ( $from: tablet ) {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

	}

	&__branding {
		position: absolute;
		top: em(43);
		right: em(25);

		@include mq( $from: tablet ) {
			display: none;

		}
	}

	.hamburger {
		left: em(25);
		margin: 0;
		position: absolute;
		top: em(43);

		@include mq( $from: tablet ) {
			background-color: $tangerine;
			border-radius: 10%;
			padding: em(14) em(14) em(9);
		}

		&.is-active {
			position: fixed;

			@include mq( $from: tablet ) {
				position: absolute;
			}
		}

		&-inner,
		&.is-active .hamburger-inner{
			background-color: $tangerine;

			@include mq( $from: tablet ) {
				background-color: $white;
			}

			&:before,
			&:after{
				background-color: $tangerine;

				@include mq( $from: tablet ) {
					background-color: $white;
				}
			}
		}
	}


	.menu-collapsible {
		background-color: $black;
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		max-height: 0;
		overflow: hidden;
		position: fixed;
		left:0;
		top:0;
		transition: $transition-duration max-height ease-in-out;
		width: 100%;

		@include mq( $from: tablet ) {
			/*background-color: transparent;
			height: auto;
			max-height: none;
			position: initial;*/
			flex-direction: column-reverse;
		}

		&.is-active {
			max-height: 100vh;

			@include mq( $from: tablet ) {
				max-height: 647px;
				left: 0;
			}
		}
	}

	&.headroom--not-top {
		padding-bottom: em(20);
		padding-top: em(20);
		width: 100%;

		@include mq( $from: tablet ) {
			background-color: $black;
			box-shadow: 0px 7px 15px -4px rgba(0,0,0,0.75);
			position: fixed;
		}

		.hamburger {

			@include mq( $from: tablet ) {
				display: none;
			}

		}

		.site-header__wrapper {
			@include mq( $from: desktop ) {
				align-items: center;
			}
		}

		.custom-logo-link {

			@include mq( $from: tablet ) {
				margin-bottom: 0;
			}

		}

		.site-header__branding {
			@include mq( $from: tablet ) {
				display: block;
				position: relative;
				top: auto;
				right: auto;
			}
		}

		.menu-collapsible {
			@include mq( $from: tablet ) {
				align-items: center;
				flex-direction: row-reverse;
				justify-content: center;
				min-height: em(34);
				position: relative;
			}
		}

		.navigation {

			@include mq( $from: tablet ) {
				flex-direction: row;
				margin-top: 0;
			}

			.menu-item {
				@include mq( $from: tablet ) {
					margin-bottom: 0;
				}
			}

		}

		.mg-social-links {

			@include mq( $from: tablet ) {
				bottom: auto;
				left: auto;
				position: absolute;
				right: 0;
				top: auto;
				width: fit-content;
			}

		}

	}
}
