/**
 * Styles for Carta Advertising
 */
.brs-carta-ad {
	overflow: hidden;
	padding-bottom: em(50);
	padding-top: em(50);

	@include mq( $from: tablet ) {
		padding-bottom: em(70);
		padding-top: em(70);
	}

	.brs-cad__wrapper {
		@include mq( $from: tablet ) {
			display: grid;
			grid-column-gap: 10%;
			grid-template-areas: "titulo fi"
								  "body  body";
			position: relative;
		}
	}

	.brs-section-title {
		color: $black;
		font-size: em(40);
		line-height: em(48, 40);
		margin-bottom: em(29, 40);
		text-align: center;

		@include mq( $from: tablet ) {
			font-size: em(50);
			grid-area: titulo;
			max-width: em(557, 50);
			text-align: left;
		}
	}

	.brs-cad__fi {
		height: auto;
		width: 100%;

		@include mq( $from: tablet ) {
			grid-area: fi;
		}
	}

	.brs-cad__b {
		clip-path: none;
		font-size: em(20);
		font-weight: 300;
		position: relative;

		@include mq( $from: tablet ) {
			font-size: em(40);
			grid-area: body;
			left: -5%;
			margin-left: 0;
			margin-top: -3%;
			max-width: 70%;
			padding-left: em(70, 40);
			text-align: left;
		}

		&:before {
			background-color: $floral-white;
			content: "";
			position: absolute;
			height: 100%;
			top: 0;
			left: -50%;
			width: 200vw;
			z-index: -1;

			@include mq( $from: tablet ) {
				display: none;
			}
		}
	}
}
