/**
 * Styles for GB Carta Basic
 */
.brs-carta-basic {
	padding-bottom: em(50);
	padding-top: em(50);

	@include mq( $from: tablet ) {
		padding-bottom: em(70);
		padding-top: em(70);
	}

	.brs-section-title {
		color: $black;
		font-size: em(40);
		margin-bottom: em(40, 40);
		text-align: center;
	}

	.brs-ribbon {
		margin-bottom: em(33, 25);

		@include mq( $from: tablet ) {
			margin-bottom: em(48, 30);
		}
	}

	.brs-cb__dishes {

		@include mq( $from: tablet ) {
			display: grid;
			grid-row-gap: em(50);
			grid-template-columns: repeat( auto-fit, minmax( em(400), 1fr ) );
			grid-column-gap: 10%;
			margin-bottom: em(100);
		}

		.brs-cb__dish {
			display: grid;
			grid-template-areas:    "featuredimage"
									"titulo"
									"ingredientes"
									"precio";
			list-style-type: none;
			margin-bottom: em(40);
			text-align: center;

			@include mq( $from: tablet ) {
				align-items: center;
				grid-template-areas:    "featuredimage titulo precio"
										"featuredimage ingredientes ingredientes";
				grid-template-columns: auto 1fr auto;
				margin-bottom: em(0);
				text-align: left;
			}

			&__fi {
				border-radius: 50%;
				display: inline-block;
				height: em(108);
				margin-bottom: em(13);
				margin-right: em(34);
				grid-area: featuredimage;
				justify-self: center;
				width: em(108);

				@include mq( $from: tablet ) {
					margin-bottom: 0;
				}
			}

			&__h {
				font-size: em(37);
				grid-area: titulo;
				margin-bottom: em(16, 37);

				@include mq( $from: tablet ) {
					font-size: em(30);
					margin-bottom: 0;
					margin-right: em(10);
				}
			}

			&__price {
				grid-area: precio;
				font-size: em(20);
				justify-self: center;

				@include mq( $from: tablet ) {
					justify-self: flex-end;
				}
			}

			&__ingredients {
				font-size: em(20);
				font-weight: 300;
				margin-bottom: em(12, 20);
				grid-area: ingredientes;

				@include mq( $from: tablet ) {

					margin-bottom: 0;
				}
			}

		}

	}



}