.brs-carta-special {
	background-color: $floral-white;
	padding-bottom: em(100);
	padding-top: em(80);

	.container {
		@include mq( $from: tablet ) {
			display: grid;
			grid-template-areas: "title title title"
								 "subtitle subtitle subtitle"
								 "menu pizza menu2"
								 "menu pizza2 menu2";
			grid-column-gap: em(30);
		}
	}

	.brs-section-title {
		color: $black;
		font-size: em(40);
		line-height: em(48, 40);
		margin-bottom: em(28, 48);
		text-align: center;

		@include mq( $from: tablet ) {
			font-size: em(50);
			grid-area: title;
		}
	}

	.brs-ce__b {
		font-size: em(25);
		line-height: em(28, 25);
		margin-bottom: em(40, 25);
		text-align: center;

		@include mq( $from: tablet ) {
			font-size: em(30);
			margin-bottom: em(70, 30);
			grid-area: subtitle;
		}
	}

	.brs-ce__fi {
		display: block;
		height: auto;
		margin-bottom: em(45);
		max-width: em(300);
		margin-left: auto;
		margin-right: auto;
		width: 100%;

		@include mq( $from: tablet ) {
			grid-area: pizza;
			margin-bottom: 0;
		}
	}

	.brs-ce__fi2 {
		display: none;

		@include mq( $from: tablet ) {
			display: block;
			grid-area: pizza2;
		}
	}

	.brs-ce__dishes {
		margin: 0;
		padding: 0;

		&.even{
			@include mq( $from: tablet ) {
				grid-area: menu2;
			}
		}

		&.odd{
			@include mq( $from: tablet ) {
				grid-area: menu;
			}
		}
	}

	.brs-ce__dish {
		list-style-type: none;
		margin-bottom: em(30);

		@include mq( $from: tablet ) {
			margin-bottom: em(50);
			display: grid;
			grid-template-areas: "titulo price"
			"body body";
			grid-template-columns: 1fr auto;
			grid-column-gap: 5%;

		}
	}

	.brs-ce__dish__h {
		font-size: em(24);
		margin-bottom: em(10, 24);

		@include mq( $from: tablet ) {
			font-size: em(30);
			grid-area: titulo;
			margin-bottom: em(7, 30);
		}
	}

	.brs-ce__dish__b {
		font-weight: 300;
		font-size: em(20);
		line-height: em(31, 20);

		@include mq( $from: tablet ) {
			grid-area: body;
		}
	}

	.brs-ce__dish__price {
		@include mq( $from: tablet ) {
			grid-area: price;
			justify-self: flex-end;
		}
	}
}