/**
 * Styles for GB Carta Individual
 */
.brs-carta-individual {
	padding-bottom: em(70);
	padding-top: em(70);

	.brs-section-title {
		color: $black;
		font-size: em(40);
		line-height: em(48, 40);
		margin-bottom: em(40, 40);
		text-align: center;

		@include mq( $from: tablet ) {
			font-size: em(50);
			margin-bottom: em(31, 50);
		}
	}

	.brs-ci__b {
		@include mq( $from: tablet ) {
			margin-bottom: em(30, 30);
		}
	}

	.brs-ci__fi {
		display: block;
		height: auto;
		margin-bottom: em(40);
		margin-top: em(40);
		max-height: em(315);
		object-fit: cover;
		object-position: center center;
		width: 100%;

		@include mq( $from: tablet ) {
			margin-bottom: em(50);
		}
	}

	.brs-ci__dishes {

		@include mq( $from: tablet ) {
			display: grid;
			grid-template-columns: repeat( 2, 1fr );
			grid-column-gap: 2%;
		}

		.brs-ci__dish {
			list-style-type: none;

			.brs-ci__h {
				font-size: em(24);
				margin-bottom: em(10, 24);
				text-align: center;

				@include mq( $from: tablet ) {
					font-size: em(40);
					margin-bottom: em(25, 40);
					text-align: left;
				}
			}

			.brs-ci__ingredients {
				text-align: center;

				.brs-ci__ingredient {
					font-size: em(20);
					list-style-type: none;

					@include mq( $from: tablet ) {
						font-size: em(30);
						font-weight: 300;
						text-align: left;
					}
				}

			}

		}

	}

	.brs-ci__dishes.one-dish {

		@include mq( $from: tablet ) {
			display: block;
			grid-template-columns: repeat( 2, 1fr );
			grid-column-gap: 2%;
		}

		.brs-ci__h {
			@include mq( $from: tablet ) {
				text-align: center;
			}
		}

		.brs-ci__ingredients {
			@include mq( $from: tablet ) {
				columns: 3;
				padding-left: 20px;
			}

			.brs-ci__ingredient {
				font-weight: bold;
				list-style-type: disc;
			}

		}
	}


	.brs-ci__ingredients {

	}
}
