/**
 * Styles for Carta Intro Gutenberg Block
 */
.brs-carta-intro {
	padding-bottom: em(80);
	padding-top: em(78);
	position: relative;
	text-align: center;


	.brs-section-title {
		font-size: em(40);
		margin-bottom: em(40, 40);

		@include mq( $from: desktop ) {
			font-size: em(50);
			margin-bottom: em(20, 50);
		}
	}

	.brs-carta-intro__b {
		font-size: em(25);
		font-weight: 300;
	}

	// Drawings.
	.drw-perejil {
		height: 70px;
		width: 72px;

		left: -2%;
		position: absolute;
		top: 2%;

		@include mq( $from: desktop ) {
			height: 75px;
			width: 103px;

			left: 35%;
			top: 21%;
		}
	}

	.drw-pasta-05 {
		right: 2%;
		position: absolute;
		bottom: 2%;

		@include mq( $from: desktop ) {
			right: 31%;
			top: 32%;
			bottom: auto;
		}
	}

	.drw-ravioli {
		display: none;

		@include mq( $from: desktop ) {
			left: 16%;
			top: 16%;
			display: block;
			position: absolute;
		}
	}

	.drw-pasta-02 {
		display: none;

		@include mq( $from: desktop ) {
			left: 30%;
			top: 51%;
			display: block;
			position: absolute;
		}
	}

	.drw-perejil-02 {
		display: none;

		@include mq( $from: desktop ) {
			right: 23%;
			top: 55%;
			display: block;
			position: absolute;
		}
	}

}