.brs-cta {
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	position: relative;

	&:before {
		background-color: rgba(0,0,0,0.4);
		content: "";
		position: absolute;
		top:0;
		left:0;
		height: 100%;
		width: 100%;
	}

	@include mq( $from: tablet ){
		height: auto;
		min-height: em(560);
	}

	.brs-section-title {
		color: $white;
		font-size: em(50);
		margin-bottom: em(70, 50);
		text-align: center;
		position: relative;
		z-index: 2;
	}
}