/**
 * Styles for Info GB Block.
 */
.brs-info {
	background-color: $white;
	overflow: hidden;

	&__container {
		padding-bottom: em(80);
		padding-top: em(80);
		position: relative;

		@include mq( $from: tablet ) {
			padding-bottom: em(93, 16);
			padding-top: em(64, 16);

			display: grid;
			grid-column-gap: 2%;
			grid-template-areas: "title img"
			"desc img";
			grid-template-rows: auto max-content;
		}
	}

	.brs-section-title {
		font-size: em(30, 16);

		@include mq( $from: tablet ) {
			align-self: flex-end;
			font-size: em(40, 16);
			grid-area: title;
			margin-bottom: em(20, 40);
		}
	}

	&__b {
		margin-top: em(18, 20);
		position: relative;

		@include mq( $from: tablet ) {
			font-weight: 300;
			font-size: em(25, 16);
			grid-area: desc;
			margin-top: 0;
			max-width: em(528, 25);
		}

		p {
			margin-bottom: em(20, 25);
			line-height: em(31, 25);

			&:last-of-type { margin-bottom: 0; }
		}
	}

	&__img {
		display: block;
		grid-area: img;
		margin-top: em(26);
		margin-left: auto;
		max-width: em(450);
		width: 100%;

		@include mq( $from: tablet ) {
			margin-top: 0;
		}
	}

	.drw-bologna {
		display: none;

		@include mq( $from:tablet ) {
			display: block;
			position: absolute;
			bottom: 0;
			left: -20%;
		}
	}
	.drw-tallarin {
		display: none;

		@include mq( $from:tablet ) {
			display: block;
			position: absolute;
			top: -3%;
			left: 44%;
		}
	}

	.drw-capelletini {
		display: none;

		@include mq( $from:tablet ) {
			display: block;
			position: absolute;
			bottom: 28%;
			left: -26%;
		}
	}

	.drw-ravioli {
		right: em(-75);
		position: absolute;
		top: em(10);

		@include mq( $from:tablet ) {
			top: 14%;
			left: -26%;
		}
	}


}
