/**
 * Styles for GB Raffle.
 */
.brs-raffle {
	background-color: $floral-white;
	overflow: hidden;
	padding-bottom: em(164);
	padding-top: em(80);
	position: relative;

	@include mq( $from: desktop ) {
		padding-bottom: em(87);
		padding-top: em(117);
	}

	&__container {
		display: flex;
		flex-direction: column-reverse;

		@include mq( $from: desktop) {
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__meta {
		margin-left: auto;
		margin-right: auto;
		max-width: em(500);
		text-align: center;

		@include mq( $from: desktop) {
			margin-left: 0;
			margin-right: 0;
			max-width: em(600);
			text-align: left;
		}

		.brs-section-title {
			font-size: em(30);
			margin-bottom: em(28, 30);

			@include mq( $from: desktop) {
				font-size: em(50);
			}
		}

		.brs-raffle__b {
			font-size: em(20);
			font-weight: 300;
			line-height: em(31, 20);
			margin-bottom: em(46, 20);

			@include mq( $from: desktop) {
				font-size: em(25);
				line-height: em(31, 25);
			}
		}

		.brs-button {
			margin-bottom: em(33);

			@include mq( $from: desktop) {
				margin-bottom: 0;
			}
		}
	}

	&-image__wrapper {
		background-color: $floral-white;
		border: 3px solid $black;
		border-radius: 15px;
		padding-bottom: 4%;
		padding-top: 4%;
		position: relative;

		margin-left: auto;
		margin-right: auto;
		max-width: em(380);
		width: 90%;

		@include mq( $from: tablet ) {
			width: 100%;
		}

		@include mq( $from: desktop) {
			margin-left: 0;
			margin-right: em(50);
			padding-bottom: 2%;
			padding-top: 2%;
			width: auto;
		}

		.brs-raffle__img {
			display: block;
			position: relative;
			right: -5%;
			width: 100%;
		}

	}

	.drw-baguette{
		position: absolute;
		top: -6%;
		right: -10%;

		@include mq( $from: desktop ) {
			top: -8%;
			right: 53%;
		}
	}

	.drw-ravioli {
		position: absolute;
		bottom: 6%;
		right: -4%;

		@include mq( $from: desktop ) {
			bottom: 5%;
			right: 19%;
		}
	}

	.drw-pasta-03 {
		position: absolute;
		bottom: 4%;
		left: -4%;

		@include mq( $from: desktop ) {
			bottom: 14%;
			right: 31%;
			left: auto;
		}
	}

	.drw-pasta-04 {
		display: none;

		@include mq( $from: desktop ) {
			top: 8%;
			display: block;
			right: 12%;
			position: absolute;
		}
	}

	.drw-perejil-02 {
		display: none;

		@include mq( $from: desktop ) {
			top: 21%;
			display: block;
			right: 9%;
			position: absolute;
		}
	}

}
