/**
 * Styles for GB Block Reviews.
 */
.brs-reviews {
	padding-bottom: em(80);
	padding-top: em(80);

	&__container {
		@include mq( $from: tablet ) {
			align-items: center;
			display: flex;
		}
	}

	.brs-reviews__items {

		.brs-reviews__item {
			text-align: center;

			&__avatar {
				border-radius: 50%;
				height: em(76);
				margin-bottom: em(24);
				object-fit: cover;
				object-position: center center;
				width: em(76);
			}

			&__name {
				font-size: em(30);
				font-weight: bold;
				margin-bottom: em(23, 30);
			}

			&__comment {
				font-size: em(20);
				font-weight: 300;
				line-height: em(30, 20);
				margin-left: auto;
				margin-right: auto;
				max-width: em(400);
			}
		}
	}

	.brs-review-stars {
		justify-content: center;
		display: flex;
		margin-bottom: em(37);

		.brs-review-star {
			height: em(24);
			margin-right: em(24);
			width: em(30);

			&:last-child { margin-right: 0; }
		}
	}

	.slider-arrow {
		cursor: pointer;
		display: none;
		transition: $transition-duration opacity;

		@include mq( $from: tablet ) {
			display: block;
		}

		&:hover {
			opacity: 0.4;
		}
	}

	.slider-arrow--inverted {
		transform: rotate( 180deg );
	}

}