/**
 * styles for Specialties.
 */
.brs-specialties {
	background-color: $floral-white;
	padding-bottom: em(80);
	padding-top: em(80);

	.brs-section-title {
		font-size: em(40);
		margin-bottom: em(40, 40);
		text-align: center;
	}

	&-list {
		display: grid;
		grid-gap: em(60);
		grid-template-columns: repeat( auto-fit, minmax( em(270), 1fr) );
		list-style-type: none;
		margin-bottom: em(60);

		@include mq( $from: tablet ) {
			grid-gap: em(30);
			margin-bottom: em(38);
		}

		.brs-specialties-item {
			text-align: center;

			&__img {
				border-radius: 50%;
				width: em(216);
				display: block;
				height: em(216);
				object-fit: cover;
				margin-bottom: em(40);
				margin-left: auto;
				margin-right: auto;

				@include mq( $from: tablet ) {
					height: em(270);
					width: em(270);
				}
			}

			&__h {
				font-size: em(25);
				margin-bottom: em(15, 25);
			}

			&__b {
				font-size: em(20);
				font-weight: 300;
				line-height: em(31, 20);
			}

		}

	}

	.brs-button {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}