/**
 * Styles for Buttons.
 */
.brs-button {
	background-color: transparent;
	border: 2px solid $olive-drab;
	border-radius: em(23, 16);
	color: $white;
	cursor: pointer;
	font-size: em(20, 16);
	font-weight: bold;
	padding: em(14,16) em(85, 16) em(12,16);
	position: relative;
	text-transform: uppercase;
	transition: $transition-duration color;
	z-index: 2;

	&:before {
		background-color: transparent;
		border: 2px solid $white;
		border-radius: 25px;
		bottom: 5px;
		content: " ";
		display: block;
		left: 5px;
		position: absolute;
		right: 5px;
		top: 5px;
		transition: $transition-duration background-color;
		z-index: -1;
	}

	&:hover:before {
		background-color: $olive-drab;
	}
}

.brs-button-alt {
	color: $dim-gray;

	&:before {
		border-color: $dim-gray;
	}

	&:hover {
		color: $white;
	}
}