/**
  * Styles for the website logo
 */
.custom-logo-link {
	display: block;
	position: relative;

	@include mq( $from: tablet ) {
		margin-bottom: em(40);
	}

	img {
		height: em(20,16);
		width: em(99,16);

		@include mq( $from: tablet ) {
			height: em(33,16);
			width: em(163,16);
		}
	}

}
