.brs-ribbon {
	clip-path: polygon(0% 0%, 100% 0, 96% 50%, 100% 100%, 0% 100%);
	background-color: $floral-white;
	font-size: em(25);
	line-height: em(28, 25);
	padding: em(22,25) em(10, 25) em(18,25);
	position: relative;
	text-align: center;

	@include mq( $from: tablet ) {
		font-size: em(30);
		margin-left: auto;
		margin-right: auto;
	}
}