/**
 * Styles for Carta Sin Gluten
 */
.page-template-carta-gluten-free {
	background-color: #0c7abf;

	.brs-carta-intro .brs-section-title {
		color: $cerulean;
	}

	.brs-carta-individual .brs-ribbon{
		background-color: $pattens-blue;
	}

	.brs-carta-basic .brs-ribbon{
		background-color: $pattens-blue;
	}

	.brs-carta-special {
		background-color: $pattens-blue;
	}
}