/*
 * The main page sections / wrappers and basic grid area.
 */

// Wraps all of the content on the page.
.site-wrapper {
	background-color: $container-background-color;
	margin: 0 auto;
}

// General utility class for sections within the page.
.container {
	margin: 0 auto;
	max-width: $max-width-container;
	@include outer-margins;
}

// Houses any section that needs a grid.
.grid-container {
	// IE11 does not support auto-placement properly which we need for GRID implementation.
	margin: 0 auto;
	display: flex; // Apply flexbox fallback option for IE instead.
	flex-flow: row wrap;

	@include mq($from: small-tablet) {
		// Gutter here creates extra room for the margins needed by flexbox in IE to create gutters and align cards with section titles.
		max-width: calc( #{$max-width-container} + #{$gutter} );
	}
}

// Set up the widths of cards for flexbox.
$columns: (
	span-12: 100%, // Fullwidth.
	span-8: 66.666666667%, // 2/3.
	span-6: 50%,
	span-4: 33.333333333%, // 1/3.
	span-3: 25%
);

@each $span, $column in $columns {
	.column-#{$span} {
		flex: 0 1 calc( #{$column} - #{$gutter} );
		margin: $item-gutter;
	}
}

// Now lets do the fun stuff using GRID :).
@supports (display: grid) {

	.grid-container {
		display: grid;
		grid-gap: $item-gutter;
		place-items: start;
		grid-template-columns: repeat($grid-columns-mobile, 1fr);

		@include mq($from: small-tablet) {
			grid-template-columns: repeat($grid-columns-desktop, 1fr);
			max-width: $max-width-container;
		}

		@include mq($from: tablet) {
			grid-gap: $gutter;
		}

	}

	// Default all cards to be fullwidth. Mobile ratio to make them square is set per card in /atoms/_card-sizes.scss.
	@for $i from 1 through $grid-columns-desktop {
		.column-span-#{$i} {
		  	grid-column-end: span 6;
		  	-ms-grid-column-span: 6;
		  	margin: 0; // Cancel margin needed for flexbox option.
		}
	}

	@include mq($from: small-tablet) {
		@for $i from 1 through $grid-columns-desktop {
			.column-span-#{$i} {
			  	grid-column-end: span $i;
			  	-ms-grid-column-span: $i;
			}
		}
	}
}
