/**
 * Styles for MG Social Links plugin
 */
.mg-social-links {
	display: flex;
	justify-content: center;
	width: 100%;

	.mgsl__item {
		align-items: center;
		background-color: $tangerine;
		border-radius: 50%;
		color: $white;
		display: flex;
		height: 34px;
		justify-content: center;
		margin-right: em(15, 16);
		transition: $transition-duration opacity;
		width: 34px;

		&:hover {
			opacity: 0.6;
		}
		&:last-child { margin-right: 0; }

		@include mq ($from: tablet) {
			margin-right: em(20, 16);

			&:last-child { margin-right: 0; }
		}
	}

}