/**
 * Styles for Navigation Molecule.
 */
.navigation {
	list-style-type: none;

	@include mq( $from: tablet ) {
		display: flex;
		justify-content: center;
	}

	.menu-item {
		margin-bottom: em(30, 16);

		&:last-child {
			margin-bottom: 0;
		}

		@include mq ( $from: tablet ) {
			padding-left: em(21, 16);
			padding-right: em(21, 16);
		}

		a {
			color: $white;
			font-size: em(25);
			font-weight: normal;
			text-decoration: none;
			text-transform: uppercase;
			z-index: 1;
		}

	}

	.current-menu-item,
	.menu-item:hover {
		a {
			font-weight: bold;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				content: "";
				left: -3px;
				top: 40%;
				right: -3px;
				border-top: 3px solid;
				border-color: $olive-drab;
				z-index: -1;

				-webkit-transform:rotate(-9deg);
				-moz-transform:rotate(-9deg);
				-ms-transform:rotate(-9deg);
				-o-transform:rotate(-9deg);
				transform:rotate(-9deg);
			}
		}
	}

	// Reset the font-weight for menu item hover.
	.menu-item:not( .current-menu-item ):hover a { font-weight: normal; }
}